/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* document */
:root {
	--s-container: 40rem;
	--s-fs: 16px;
}
html {
	font-size: var(--s-fs);
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 1rem;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: var(--s-container);
}

/* base elements */
small {
	font-size: 0.8rem;
}

/* custom article */
article {
	font-size: 1rem;
}
@media (min-width: 40rem) {
	article {
		font-size: 2rem;
	}
}
article a {
	text-decoration: none;
}

/* @sctlib/mwc */
@keyframes loading {
	0% {
		background-color: orange;
	}
	100% {
		background-color: transparent;
	}
}

matrix-room {
	background-color: transparent;
	padding: 1rem;
	border: 2px solid transparent;
	transition: border-color 400ms ease-in-out;
}
matrix-room:not(:has(matrix-room-state)) {
	border-color: orange;
	animation: loading 3s infinite ease-in-out;
}
matrix-room:has(matrix-room-state) {
	border-color:green;
}
matrix-room:has(matrix-image img) {
	border-color:black;
}
matrix-room-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
matrix-avatar {
	display: none;
}
matrix-image {
	:is(picture) {
		margin: 0;
		padding: 1rem;
	}
	:is(img) {
		width: 100%;
	}

}
matrix-room-topic {
	font-size: 1rem;
}
